
<%= hidden_field_tag(:showed, @showed) %> 
<%= hidden_field_tag(:date, @date) %> 

<a id="edit-swich" class="ui-button tips-e" title="tag edit mode">
  <i class="icon-edit"></i>
</a>

<a id="show_select" class="ui-button tips-n" title="show select box">
  <i class="icon-list-alt"></i>
</a>

<a id="move-swich" class="ui-button tips-w">
  <i></i>
</a>
