<div class="all_map">
  <%= image_tag("MILAiSLayout.jpg", 
                { :border => '1', 
                  :alt => '',
                  :class => 'map'}) %>
  
  <% @list.each_index do |i| %>
    <!--<button class="camera_icon ui-button">
      <i class="icon-facetime-video"></i>
      <%= $camera_list[i] %>
    </button>-->
    <%= image_tag(@list[i].path,
                  { 
                    :border => '0', :alt => '',
                    :class => 'camera_map_th',
                    :id => "camera_map_th#{i}",
                    :width => $width * $scale, 
                    :height => $height * $scale,
                  }) %>
  <% end %>
</div>
<a class="ui-button start">
Start
</a>
