<div id="movie-list">
  <%= image_tag("MILAiSLayout.jpg", { :class => 'map', :border => '0', :alt => ''}) %>
  <% if @list.size == 0 %>
    <p>nothing...</p>
  <% else %>
    <% @list.each do |movie| %>
      <%= link_to image_tag(movie.path, 
                            { :class => "image-frame", 
                              :border => '1', 
                              :alt => '', 
                              :width => $width * $scale, 
                              :height => $height * $scale }
                            ),
          movie_path(movie),
          { :class => "camera-image-f", :alt => '', :caption => get_title(movie) } %>
    <% end %>
  <% end %>
</div>
