<div id="camera_map" class="container target">
  <%= render(:partial => "map" ) %>
</div>
<div id="slider-wrapper">
  <div id="slider"></div>
</div>
<div id="camera_map_o">
  <%= render(:partial => "map" ) %>
</div>

