

<% if false %>
<p>表示する画像を絞り込みます</p>
<div id="range-check" class="ui-buttonset">
  範囲指定:
  <input type="checkbox" id="range1" name="range1" value="1" checked="checked" />
  <label for="range1">日付指定</label>
  <input type="checkbox" id="range2" name="range2" value="2" checked="checked" />
  <label for="range2">時限指定</label>
</div>
<%= form_tag("/movies/select", :method => :post) do %>
  <div id="partshow"><%= get_part(@part.to_i) %></div>
  <div id="partslider"></div>
  <%= hidden_field_tag(:part,@part) %>
<% end %>
<% end %>

