<div id="wrapper">

  <div id="test"></div>

  <div id="pages" class="tab-container">
    <ul id="menu">
      <li id="tab-1" class="tab"><%= link_to "全体", '#outline' %></li>
      <li id="tab-2" class="tab"><%= link_to "詳細", '#detail' %></li>
    </ul>
    <div id="outline">
      <%= render(:partial => "outline" ) %>
    </div>
    <div id="detail">
      <%= render(:partial => "detail" ) %>
    </div>
  </div>

</div>



