/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require fancybox
 *= require_self
*/

@import "color"; /* color list */
@import "function";

* {
  box-shadow:none;
}
html {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
body {
  overflow: hidden;
  background: $sub_color url(C5.png) repeat;
  font-size: 13px;
  line-height: 18px;
  height: 100%;
  width: 100%;
}
a {
  color:#666;
  :hover {
    color:#555;
  }
}

.class {
  width: 100px;
  height: 55px;
  border-bottom: 1px solid #fff;
  background: #f17326;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: inset 0px 1px 2px 0px #666;
  -webkit-box-shadow: inset 0px 1px 2px 0px #666;
  -moz-box-shadow: inset 0px 1px 2px 0px #666;
}
.shadow {
    text-shadow: 
    /* 上部のシャドウ */
    0 -1px 1px rgba(0, 0, 0, .4), 
    /* 下部のハイライト */
    0 1px 1px rgba(255, 255, 255, .75);
}

#loader {
  @include radius(4px);
  background:white;
  width: 100px;
  height:100px;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100;
  margin-top: -64px;
  margin-left: -64px;
  border {
    style: solid;
    width: 1px;
    color: $background;
  }
  img {
    margin: 18px 18px;
  }
}
#fade {
	width: 100%;
	height: 100%;
	background-color: #0000000;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1650;
  background: $sub_color url(C5.png) repeat;
}
/* header */
#header {
  height: 6%;
  background: $sub_color url(C5.png) repeat;
  overflow: hidden;
  img {
    width:55%;
    padding:5px;
  }
}
/* footer */
#footer {
  height: 4%;
  background: $sub_color url(C5.png) repeat;
  overflow: hidden;
}
/* tab menu */
#menu {
  margin-bottom:0px;
  padding:10px 10px 0px 10px;
  li {
    float:right;
  }
  li > a {
    background-color: $sub_color;
    opacity:0.6;
  }
  .active > a, .active > a:hover {
    background-color:white;
    opacity:1.0;
  }
}
/* content */
#content {
  background:white; /* url(MILAiSLayout.jpg); */
  height:90%;
  overflow: hidden;
}
.box {
  width: 220px;
  margin: 10px;
  float: left;
}

.ui-datepicker { z-index: 1000 !important; }