// Place all the styles related to the movie controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background: #666666;
$tab_base_color: #CCCCCC;

html {
  height: 100%;
}

body {
  background-color: $background;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  height: 100%;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

#wrapper {
  background-color: white;
  margin: 0px 20px;
  height: 100%;
}
#header {
  background-color: white;
  text-align: right;
}
#slider-wrapper {
    padding: 10px;
}
#slider {
    margin: 0 auto;
    width: 80%;
}
#slider .ui-slider-range {
    background: #ffffff;
}
#slider .ui-slider-handle {
    border-color: #ef2929;
}

$page-height: 640px;

.etabs { margin: 0; padding: 0; text-align:left; }
.tab { 
    display: inline-block; 
    zoom:1; *display:inline; 
    background: #eee;
    border: solid 1px #999; 
    border-bottom: none; }

.tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none; color: #333; }
.tab a:hover { text-decoration: underline; }
.tab.active { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #666; }
.tab a.active { font-weight: bold; }
.tab-container .panel-container {
    overflow: scroll; 
    background: #fff; border: solid #666 1px; padding: 10px; }

.panel-container { margin-bottom: 10px; }

#pages {
    margin: 0 auto;
}

#select {
    left: 60%;
    list-style-type: none;
    position: fixed;
    margin: 0px auto;
    padding: 10px;
    background: white;
    height: 30px;
}
#select ul {

}
#select li {
    display: inline;
}
#select form {
    display: inline;
}
#movie-list {
    overflow: scroll; 
    padding: 50px 20px 20px 20px;
}

#outline, #detail {
    height: $page-height;
    padding: 0px;
}
#pager {
    width: 500px;
    margin: 0px auto;
}
#map-wrapper {
    position: relative;
}

#map-wrapper img#thumb {
    position: absolute;
    top: 0px;
    left: 0px;
}