// Place all the styles related to the movie controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background: #666666;
$tab_base_color: #CCCCCC;

html {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: $background;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  padding: 30px 0px;
  margin: 0px auto;
  height: 100%;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

#wrapper {
  background-color: white;
  margin: 10px 0px 0px 0px auto;
  height:80%;
  width: 100%;
  position: fixed;
}
#header {
  background-color: white;
  text-align: right;
}
#slider-wrapper {
    padding: 10px;
}
#slider {
    margin: 0 auto;
    width: 80%;
}
#slider .ui-slider-range {
    background: #ffffff;
}
#slider .ui-slider-handle {
    border-color: #ef2929;
}

$page-height: 640px;

.pages {
    margin: 0px auto;
}

.pagination {
  height:40px;
  margin:5px 0;
}

#select {
    list-style-type: none;
    margin: 5px 100px 0px 0px;
    text-align: right;
    padding: 10px;
    height: 30px;
}
#select ul {

}
#select li {
    display: inline;
}
#select form {
    display: inline;
}
.ui-tabs-panel {
    height: $page-height;
    overflow: scroll;
}
#milais_logo {
    height: 40px;
}
#select_order {
    width: auto;
}

#movie-list {
    width: auto;
    padding: 10px;
    margin: 0px auto;
}

.image-frame {
  width:160px; height: 120px;
  display: block;
	padding:10px 10px 30px 10px;
	margin:5px 20px;
  float: left;
	border:1px solid #ddd;
	background:#eee url(loading.gif) 50% 50% no-repeat;
}
.image-frame span {
	padding:0px; margin:0px;
  float:right;
  display:block;
}
.image-frame a {
  display:block;
	padding:0px; margin:0px;
}

#map-wrapper {
    position: relative;
}

#map-wrapper img#thumb {
    position: absolute;
    top: 0px;
    left: 0px;
}