// Place all the styles related to the movie controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background: #bbbbbb;
$tab_base_color: #CCCCCC;
$base_color: #EEEEEE;
$sub_color: #E6E6E6;

html {
  overflow: hidden;
  background-color: $background;
  width: 100%;
  height: 100%;
}
body {
  background-color: $background;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  padding: 0 0;
  margin: 0px auto;
  height: 100%;
  width: 100%;
}
/* loading */
#loader {
  background:white;
  width: 100px;
  height:100px;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100;
  margin-top: -50px; /* heightの半分のマイナス値 */
  margin-left: -50px; /* widthの半分のマイナス値 */
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border:1px solid $background;
}
#loader > img {
  margin: 32px 32px;
}
#fade {
	width: 100%;
	height: 100%;
	display: none;
	background-color: $sub_color;/*rgba(0, 0, 0, 1);*/ /* #FFFFFF; */
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 50;
}
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}
.target {
  position: initial;
	display: none;
}
.camera_map_th {
  z-index:101;
  width:10%;
  position: absolute;
  left:10%;
  top:10%;
}
.map {
  z-index:1;
  margin: 0 auto;
}
#camera_map {
  background-color:#eee;
  position: relative;
}
.camera-image:hover {
  opacity:0.6;
  filter: alpha(opacity=0.6);
}
/* base */
#header {
  margin: 10px 10px 10px 10px auto;
  height:2%;
}
#wrapper {
  background-color: white;
  margin: 0 auto;
  width:95%;
}
#footer {
  margin: 10px auto;
}
#milais_logo {
  height: 5%;
  border: 1px solid $sub_color;
}
.slider-wrapper {
  padding: 1%;
}
.slider {
  margin: 0 auto;
  width: 80%;
}
.ui-slider .ui-slider-handle {
  cursor: pointer;  
}
#minute-slider {
  margin: 10px 10px 10px 10px;
  text-align:center;
  position: relative;
  top: 10px;
}
.pages {
  margin: 0px auto;
  padding: 10px;
}
.inline {
  list-style-type: none;
  text-align: center;
  padding: 10px;
  height: 30px;
}
.right {
  text-align: right;
}
.inline ul {

}
.inline li,form {
  display: inline;
}
.inline div {
  display:inline-block;
}
.ui-tab {
  overflow: scroll;
  width:100%;
  margin: 0 auto;
}
#partslider {
  width: 120px;
  margin: 0px 10px;
}
#partslider .ui-widget-header {
  background-color: #ffffff;
}
#pages > ul {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  background: $background;
}
#pages {
  padding: 0px;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
}
#partshow {
  width: 50px;
  margin: 0px 0px;
}
/* 映像関係 */
#movie-list {
  width: 100%;
  height:80%;
  margin: 0 auto;
}
.thumb {
  width: 10%;
}
.image-frame {
  width:160px; height: 120px;
  display: inline-block;
	padding:5px 10px 25px 10px;
	margin:5px 15px;
  float:left;
	border:1px solid #ddd;
	background:$sub_color url(loading.gif) 50% 50% no-repeat;
  text-align:left;
}
.blank-frame {
  width:160px; height: 120px;
  display: inline-block;
	padding:5px 10px 25px 10px;
	margin:5px 15px;
  float:left;
	border:0px solid #ddd;
	background:#ffffff;
  text-align:left;
}
.image-row {
  width:100%;
  text-align:center;
}
.image-frame span {
	padding:0px; margin:0px;
  float:right;
  display:block;
}
.image-frame a {
  display:block;
	padding:0px; margin:0px;
}
#datepicker {
  width:80px;
  height:20px;
}
.pagination {
  text-align: center;
}
.pagination ul > li > a, .pagination ul > li > span {
  background-color:$sub_color;
  margin:0px;
}

