@import "color";
@import "function";

ul {
  list-style-type: none;
  margin-left:10px;
  margin-top:10px;
}

#controller {
  position:absolute;
  top:1%;
  left:23%;
  z-index:4;
}

/* tag search form css */
#tag-search {
  position:absolute;
  z-index:3;
  top:0%;
  left:45%;
}

/* pagination css */
#pagination-wrapper {
  width:80%;
  position:absolute;
  top:90%;
  left:15%;
  z-index:5;
  #pagination {
    display:inline-block;
    width:80%;
    margin:0 20px 0 20px;
  }
  a.prev, a.next {
    display:inline-block;
  }
}

#datepicker {
  width:42%;
  border:0px;
  box-shadow:rgba(0, 0, 0, 0.0745098) 0 0px 0px inset;
  background:#ffffff;
}

#input-tag {
  text-align:right;
}

#tag_input_form {
  margin:1%;
}

#part_select {
  width:100%;
  input[type="checkbox"] {
    width:10%;
  }
}

#select_box {
  /*position:absolute;*/
  padding:1%;
  z-index:10;
}

#all_tag {
  /*position:absolute;*/
  padding:1%;
  z-index:10;
  a:link, a:visited, a:hover, a:active { 
    color: white; 
  } 
}

.arrow_box1 {
  color:white;
	position: absolute;
  background-color:rgba(0,0,0,0.8);
	border: 0px solid #cccccc;
  z-index:51;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px;
  @include radius(4px);
}
.arrow_box1:after, .arrow_box1:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
  z-index:50;
	position: absolute;
	pointer-events: none;
}
.arrow_box1:after {
	border-bottom-color: rgba(0, 0, 0, 0.8);
	border-width: 20px;
	left: 50%;
  z-index:50;
	margin-left: -20px;
}
