
@import "color";

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

.tagf a {
	float:left;
	height:24px;
	line-height:24px;
	position:relative;
	font-size:11px;
}	

.tagf a:before {
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent gray transparent transparent;
	border-style:solid;
	border-width:12px 12px 12px 0;		
}	
.tagf a:after {
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #222;
	-webkit-box-shadow:-1px -1px 2px #222;
	box-shadow:-1px -1px 2px #ddd;
}		

.tagf a:hover{
  background:#555;
	color:#fff;
}	
.tagf a:hover:before{
  border-color:transparent #555 transparent transparent;
}		
	
.tagf a {
	margin-left:20px;
  margin-top:5px;
  margin-bottom:5px;
	padding:0 10px 0 12px;
  background: gray;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;	
} 

